[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/TrianglePP"]
	path = third_party/TrianglePP
	url = https://github.com/mrkkrj/TrianglePP
